.img{
  height: 75%;
  width: 75%;
}


.mention h1 {
  color: #176fc1;
}

.mention h2 {
  color: #66c530;
}

.mention p {
  color: #979595;
}

.mention ul {
  color: #979595;
}

.mention ul li {
  color: #979595;
}
