<div class="tabsContent">
  <form  class="form-horizontal" name="companyForm">
    <div class="form-group">
      <label for="company" class="control-label col-sm-2">Nom entreprise</label>
      <div class="col-sm-10 " ng-class="{ 'has-error': companyForm.company.$invalid && !companyForm.company.$pristine }">
        <input type="text" autocomplete="new-password" ng-model="companyParams.company"class="form-control" id="company" placeholder="Adresse" name="company" required>
      </div>
    </div>
    <div class="form-group">
      <label for="companyCode" class="control-label col-sm-2">Code entreprise</label>
      <div class="col-sm-10 " ng-class="{ 'has-error': companyForm.companyCode.$invalid && !companyForm.companyCode.$pristine }">
        <input type="text" autocomplete="new-password" ng-model="companyParams.companyCode"class="form-control" id="companyCode" placeholder="Adresse" name="code entreprise" disabled="true" required>
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="control-label col-sm-2">Adresse</label>
      <div class="col-sm-10 " ng-class="{ 'has-error': companyForm.address.$invalid && !companyForm.address.$pristine }">
        <input type="text" autocomplete="new-password" ng-model="companyParams.address"class="form-control" id="address" placeholder="Adresse" name="address" >
      </div>
    </div>
    <div class="form-group">
      <label for="addressComp" class="control-label col-sm-2">Complément adresse</label>
      <div class="col-sm-10" ng-class="{ 'has-error': companyForm.addressComp.$invalid && !companyForm.addressComp.$pristine }">
        <input type="text" autocomplete="new-password" ng-model="companyParams.addressComp"class="form-control" id="addressComp" placeholder="Complément adresse" name="addressComp" >
      </div>
    </div>
    <div class="form-group">
      <label for="postalCode" class="control-label col-sm-2">Code postal</label>
      <div class="col-sm-10" ng-class="{ 'has-error': companyForm.postalCode.$invalid && !companyForm.postalCode.$pristine }">
        <input type="text" autocomplete="new-password" ng-model="companyParams.postalCode"class="form-control" id="postalCode" placeholder="Code postal" name="postalCode" >
      </div>
    </div>
    <div class="form-group">
      <label for="city" class="control-label col-sm-2">Ville</label>
      <div class="col-sm-10" ng-class="{ 'has-error': companyForm.city.$invalid && !companyForm.city.$pristine }">
        <input type="text" autocomplete="new-password" ng-model="companyParams.city"class="form-control" id="city" placeholder="Ville" name="city" >
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="control-label col-sm-2">Numéro de téléphone</label>
      <div class="col-sm-10" ng-class="{ 'has-error': companyForm.phoneNumber.$invalid && !companyForm.phoneNumber.$pristine }">
        <input type="text" autocomplete="new-password" ng-model="companyParams.phoneNumber"class="form-control" id="phoneNumber" placeholder="Numéro de téléphone" name="phoneNumber" >
        <p style="color:red" ng-show="showErrorInput">
          Ce n'est pas un numéro de téléphone.
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"  ng-click="updateCompany()" class="btn btn-primary" ng-disabled="showErrorInput">Enregistrer</button>
      </div>
    </div>

  </form>
  <div class="alert alert-success" ng-show="successChanged">
    <strong>Mise à jour effectuée.</strong>
  </div>
  <div class="alert alert-danger" ng-show="errorOccurs">
    <strong>Erreur lors de la mise à jour: {{error}}</strong>
  </div>
</div>
