
<div class="tabsContent">
  <form  class="form-horizontal" name="passwordForm">
    <div class="form-group">
      <label for="oldPwd" class="control-label col-sm-2">Ancien mot de passe*</label>
      <div class="col-sm-10 " ng-class="{ 'has-error': passwordForm.oldPwd.$invalid && !passwordForm.oldPwd.$pristine }">
        <input type="password" autocomplete="new-password" ng-model="passwordParams.oldPwd"class="form-control" id="oldPwd" placeholder="Ancien mot de passe" name="oldPwd" required="true">
      </div>
    </div>
    <div class="form-group">
      <label for="newPwd" class="control-label col-sm-2">Nouveau mot de passe* </label>
      <div class="col-sm-10" ng-class="{ 'has-error': passwordForm.newPwd.$invalid && !passwordForm.newPwd.$pristine }">
        <input type="password" autocomplete="new-password" min="4"ng-model="passwordParams.newPwd"class="form-control" id="newPwd" placeholder="Nouveau mot de passe" name="newPwd" required="true">
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPwd" class="control-label col-sm-2">Confirmer mot de passe* </label>
      <div class="col-sm-10" ng-class="{ 'has-error': passwordForm.pwdConfirm.$invalid && !passwordForm.pwdConfirm.$pristine }">
        <input type="password" autocomplete="new-password" min="4" ng-model="passwordParams.pwdConfirm"class="form-control" id="confirmPwd" placeholder="Confirmer mot de passe" name="pwdConfirm" required="true">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"  ng-click="changePassword()" class="btn btn-primary" ng-disabled="!(passwordForm.oldPwd.$valid && passwordForm.newPwd.$valid &&passwordForm.pwdConfirm.$valid)">
          Enregistrer</button>
      </div>
    </div>

  </form>
  <div class="alert alert-success" ng-show="successChanged">
    <strong>Mise à jour effectuée.</strong>
  </div>
  <div class="alert alert-danger" ng-show="errorOccurs">
    <strong>Erreur lors de la mise à jour : {{error}}</strong>
  </div>
  <div class="alert alert-danger" ng-show="diffrentPwdError">
    <strong>Les mots de passes entrés sont différents.</strong>
  </div>
  <div class="alert alert-danger" ng-show="pwdTooShortError">
    <strong>Le mot de passe doit contenir au moins 4 caractères.</strong>
  </div>
</div>
