<div class="about">
<div class="container-fluide about-font about">
    <div class="container">
        <title>Secure your growth - Index</title>
        <div class="row">
            <div class="col-md-3">
                <img class="img" src="images/pollen-innovation.png">
                </br>
                </br>
            </div>
            <div class="col-md-4 col-md-offset-1">
                </br>
                <img src="images/syg_header.png">
            </div>
            <div class="col-md-3 col-md-offset-1">
                <img src="images/cogiteo.png">
            </div>
        </div>
    </div>
</div>

<div class="container-fluide">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-justify">
                    <strong class="blue">Vous avez réussi à développer votre entreprise mais aujourd’hui la donne a changé et impose de reconsidérer vos choix et votre stratégie afin de pérenniser votre activité</strong >
                </p>
                <p class="text-justify">
                    Devant les multiples options possibles en théorie, vous cherchez à réduire les incertitudes économiques, vous doter des ressources humaines nécessaires et vérifier l’adéquation de l’équipe au projet.
                </p>
                <p class="text-justify">
                    Comment basculer d’une position de sous-traitant au développement de marques propres ? Comment vous projeter à l’international ? Comment adapter votre organisation pour plus d’agilité ? Comment passer d’une culture du secret à une logique de partenariat ?
                </p>
                <p class="text-justify">
                    Face à toutes ces ruptures, vous cherchez des méthodes, des outils, des techniques pour améliorer votre évaluation globale et conduire plus sereinement un changement pro- fond de votre entreprise !
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-justify"><strong>
                    Les enjeux de l’évaluation humaine et économique sont déterminants pour sécuriser le développement de l’entreprise et accompagner la croissance.
                </strong></p>
                <img class="presentation-graphe" src="images/graphe_fr.png">
                <p>
                	<br/>
                </p>
                
            </div>
        </div>
    </div>
</div>

<div class="container-fluide blueF">
    <div class="container">
        <h1 class="text-center">Évaluation gratuite</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <img class="img-responsive img-rounded" src="images/listWhite.png">
                </div>
                <div class="col-md-9">
                    <p class="vertical-center-div text-justify">
                        Cette évaluation gratuite vous permet de passer en revue les différentes dimensions de l&#039;entreprise sur les aspects business et humains. En retour, vous recevrez un résumé synthétique de votre situation entrepreneuriale avec une première analyse de vos points forts, vos points de vigilance et de la cohérence entre les aspects business et humains.
                    </p>
                    <div class="text-center">
                        <a ui-sref="inscription"class="btn btn-lg btn-success">Essayer</a>
                    </div>
                    <p>
                    	<br/>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluide blueF">
    <div class="container">
        <img src="images/demarche_fr.png">
    </div>
</div>

<div class="container-fluide blueM">
    <div class="container">
        <img src="images/analyse_fr.png">
    </div>
</div>

<div class="container-fluide blueC">
    <div class="container text-center">
        <img src="images/benefices_fr.png">
    </div>
</div>

<div class="container-fluide">
    <div class="container">
        <h2 class="text-center bluesky">Cet outil a été conçu par deux entrepreneurs aux compétences et expériences complémentaires</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/roland_pesty.png">
                    </div>
                    <div class="col-md-8">
                        <img class="img" src="images/pollen-innovation.png">
                    </div>
                </div>
                <p class="text-justify"> <strong >Roland Pesty, Pollen Innovation,</strong>
                a plus de 25 ans d’expérience en Management de l’Innovation et Entrepreneuriat.
                Il accompagne à la création et au développement de start-ups ou de PME dynamiques en période d’accélération
                de croissance ; son expertise réside dans sa capacité à combiner les approches stratégiques et la mise en place
                des actions opérationnelles dans des environnements multiculturels. Il est fortement connecté à de nombreux réseaux
                engagés dans des processus de soutien à l’innovation, en France et en Suisse.</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/michel_cezon.png">
                    </div>
                    <div class="col-md-8">
                        <img src="images/cogiteo.png">
                    </div>
                </div>
                <p class="text-justify"> <strong>Michel Cezon, Cogiteo,</strong> est coach professionnel certifié et ingénieur en Intelligence Artificielle,
                Robotique et Vision. Cumulant 30 années d’expérience dans l’industrie, les PME et la recherche, il a créé une
                société à Singapour, une en France, a repris une spin-off aux USA et dirige Cogiteo une société dédiée à
                l’accompagnement des managers et dirigeants des startups et entreprises technologiques grâce au consulting,
                training et coaching. Il enseigne dans l’industrie, à l’université et appartient à un réseau de Business Angels.</p>
            </div>
        </div>
        <h4 class="text-center bluesky">Avec nos remerciements aux contributeurs du projet Secure Your Growth : </h4>
        <div class="row">
	        <div class="col-md-12">
		        <p class="text-center">
		        	<small>
			        	ATTOUMANI Aissa<br/>
			        	DJELAILI  Imad <br/>
			        	EL MAJOUDI Zineb<br/>
			        	FAUGERON Laura<br/>
			        	NADJI Karim <br/>
			        	OUARGLI Nassim<br/>
			        	PLATTET Laurent<br/>
			        	SERRADJ Lamine <br/>
			        	ZUCARO Mathilde <br/><br/>
			        </small>
		        </p>
		     </div>
		</div>
    </div>
</div>

<div class="container-fluide contact">
    <div class="container">
        <h1 class="text-center">Contacts</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="images/pollen-qrcode.png" alt="Pollen" class="img-rounded">
                    </div>
                    <div class="col-md-8 text-left">
                        <div>Tel : +33 6 08 53 59 52</div>
                        <div>roland.pesty@pollen-innovation.fr</div>
                        <div><a href="http://www.pollen-innovation.fr">www.pollen-innovation.fr</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8 text-right">
                        <div>Tel : +33 6 70 90 34 26</div>
                        <div>michel.cezon@cogiteo.net</div>
                        <div><a href="http://www.cogiteo.net">www.cogiteo.net</a></div>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="images/cogiteo-qrcode.png" alt="Cogiteo" class="img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="text-center">
        <a href=""ui-sref="mentions">Mentions légales</a>
    </div>
</footer>
</div>
