<div class="container-fluide">
    <div class="container">
        <title>Secure your growth - Index</title>
        <div class="row">
            <div class="col-md-3">
                <img class="img" src="images/pollen-innovation.png">
                </br>
                </br>
            </div>
            <div class="col-md-4 col-md-offset-1">
                </br>
                <img src="images/syg_header.png">
            </div>
            <div class="col-md-3 col-md-offset-1">
                <img src="images/cogiteo.png">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluide mention">
    <div class="container">
        <h1>Mentions légales</h1>
        <p class="text-justify">Le site Secure your Growth que vous consultez actuellement est la propriété de :</p>
        <ul>
            <li>Cogiteo<br>
                11, Lot. Pré Novel<br>
                38420 Le Versoud - France
            </li>
            <li>Pollen-innovation<br>
                229 chemin du crêt de chaume<br>
                38330 Saint-Ismier
            </li>
        </ul>
        <p class="text-justify">Directeur de publication : Michel Cezon</p>
        <hr>
        <h1>Droits de propriété intellectuelle</h1>
        <h2>Droits d&#039;auteur</h2>
        <p class="text-justify"> Le présent site constitue une oeuvre dont Pollen Innovation et Cogiteo sont les auteurs au sens des articles L.
             111.1 et suivants du Code de la propriété intellectuelle. </p>
        <p class="text-justify"> Les photographies, textes, slogans, dessins, images, séquences animées sonores ou non ainsi que toutes oeuvres
             intégrées dans le site sont la propriété de Cogiteo et Pollen Innovation ou de tiers ayant autorisé Cogiteo et
              Pollen Innovation à les utiliser. </p>
        <p class="text-justify"> Les créations graphiques représentées sur le site Secure Your Growth sont protégées au titre des droits
             d&#039;auteur et des articles L.511.1 et suivants du Code de la propriété intellectuelle. </p>
        <p class="text-justify"> Les reproductions, sur un support papier ou informatique, dudit site et des oeuvres et produits qui y sont
            reproduits sont autorisées sous réserve qu&#039;elles soient strictement réservées à un usage personnel excluant
             tout usage à des fins publicitaires et/ou commerciales et/ou d&#039;information et/ou qu&#039;elles soient conformes
              aux dispositions de l&#039;article L122-5 du Code de la Propriété Intellectuelle. </p>
        <p class="text-justify"> A l&#039;exception des dispositions ci-dessus, toute reproduction, représentation, utilisation ou modification,
            par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site, de tout ou partie
            des différentes oeuvres et produits qui le composent, sans avoir obtenu l&#039;autorisation préalable de Cogiteo,
            est strictement interdite et constitue un délit de contrefaçon. </p>
        <hr>
        <h2>Droits des marques</h2>
        <p class="text-justify"> Pollen-Innovation, Cogiteo, le logo Pollen-Innovation, le logo Cogiteo, Secure Your Growth, Secure Your
            Portfolio sont des marques déposées. </p>
        <p class="text-justify"> La reproduction, l&#039;imitation, l&#039;utilisation ou l&#039;apposition de ces marques sans avoir obtenu
             l&#039;autorisation préalable de Cogiteo constitue un délit de contrefaçon. Les contrefacteurs seront
             poursuivis en justice. </p>
    </div>
</div>
